@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



:root {
  --primary-color: #61A0AF;
  --secondary-color: #F7C7A4;
  --accent1-color: #96C9DC;
  --accent2-color: #F9B9B7;

  --heading-font: "Poppins", sans-serif,serif;
  --paragraph-font: "Poppins", sans-serif,serif;

  --nav-background-color: #7CB5C6;
  --nav-link-color: #F5D491;
  --nav-hover-link-color: #F9B9B7;
  --nav-hover-background-color: #61A0AF;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link, nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
